@import url("https://fonts.googleapis.com/css?family=Pacifico|Raleway:400,400i,700&display=swap");
@import url("https://fonts.googleapis.com/css?family=Pacifico|Raleway:400,400i,700&display=swap");
@import url("https://fonts.googleapis.com/css?family=Pacifico|Roboto:400,400i,700&display=swap");
@import url("https://fonts.googleapis.com/css?family=Pacifico|Raleway:400,400i,700&display=swap");
@import url("https://fonts.googleapis.com/css?family=Raleway:400,400i,700&display=swap");
@import url("https://fonts.googleapis.com/css?family=Open+Sans:400,400i,700,700i,800&display=swap&subset=cyrillic,cyrillic-ext");
@import url("https://fonts.googleapis.com/css?family=Raleway:400,400i,700&display=swap");
@import url("https://fonts.googleapis.com/css?family=Raleway:400,400i,700&display=swap");
* {
  box-sizing: border-box;
  padding: 0px;
  margin: 0px;
}

img {
  width: 100%;
  height: auto;
}

* {
  box-sizing: border-box;
  padding: 0px;
  margin: 0px;
}

img {
  width: 100%;
  height: auto;
}

#header-section .header-section {
  background: url("offer-bg.jpg") no-repeat bottom center;
  background-size: cover;
  font-family: "Roboto", sans-serif;
}
@media screen and (max-width: 800px) {
  #header-section .header-section .sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: rgb(0, 0, 0);
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 80px;
  }
}
@media screen and (min-width: 801px) {
  #header-section .header-section .sidenav {
    display: flex;
    flex-grow: 1;
    justify-content: flex-end;
  }
}
@media screen and (min-width: 801px) {
  #header-section .header-section .sidenav a {
    text-decoration: none;
    color: rgb(80, 53, 53);
    padding: 20px;
    border: 3px solid transparent;
  }
}
@media screen and (max-width: 800px) {
  #header-section .header-section .sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
  }
}
@media screen and (min-width: 800px) {
  #header-section .header-section .sidenav :first-child {
    display: none;
  }
}
@media screen and (min-width: 801px) {
  #header-section .header-section .sidenav a:hover {
    border-top: 5px solid rgb(11, 221, 11);
  }
}
@media screen and (max-width: 800px) {
  #header-section .header-section .sidenav a:hover {
    color: #f1f1f1;
  }
}
@media screen and (max-width: 800px) {
  #header-section .header-section .sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 35px;
    font-size: 36px;
    margin-left: 50px;
  }
}
@media screen and (max-width: 800px) {
  #header-section .header-section #main {
    transition: margin-left 0.5s;
    padding: 16px;
  }
}
@media screen and (max-width: 800px) {
  #header-section .header-section .navigation__button {
    font-size: 30px;
    cursor: pointer;
  }
}
@media screen and (min-width: 800px) {
  #header-section .header-section .navigation__button {
    display: none;
  }
}
@media screen and (max-height: 450px) {
  #header-section .header-section .sidenav {
    padding-top: 15px;
  }
  #header-section .header-section .sidenav a {
    font-size: 18px;
  }
}
#header-section .header-section__container {
  display: flex;
  flex-flow: row wrap;
  justify-content: start;
}
#header-section .header-section__logo {
  font-size: 50px;
  font-family: "Pacifico", cursive;
}
@media screen and (768px) {
  #header-section .header-section__logo {
    display: block;
    text-align: center;
  }
}
#header-section .header-section__text .header {
  font-weight: bold;
  font-size: 60px;
}
@media screen and (max-width: 480px) {
  #header-section .header-section__text .header {
    text-align: center;
  }
}
#header-section .header-section__text .describe {
  font-size: 17px;
  word-wrap: break-word;
  padding: 10px;
}
@media screen and (max-width: 480px) {
  #header-section .header-section__text .describe {
    text-align: center;
  }
}
#header-section .header-section__scroll-image {
  position: absolute;
  left: 50%;
}
@media screen and (max-width: 480px) {
  #header-section .header-section__scroll-image {
    display: none;
  }
}
#header-section .header-section__button {
  text-transform: uppercase;
  background-color: #9e3c18;
  color: white;
  font-size: 20px;
  width: 100%;
  max-width: 200px;
  min-width: 44px;
  height: auto;
  max-height: 55px;
  min-height: 44px;
  display: block;
  padding: 15px;
  text-align: center;
  box-shadow: 0px 3px 3px 0px gray;
  border: 0px;
  margin: 10px;
}
#header-section .header-section__button:hover {
  transform: scale(1.1);
}
#header-section .header-section__button:active {
  transform: scale(1.2);
}
@media screen and (max-width: 480px) {
  #header-section .header-section__button {
    margin: 10px auto;
  }
}
#header-section .about-us-section {
  background: #00bcbc;
  display: flex;
  justify-content: center;
  flex-direction: row;
  align-items: center;
  text-align: center;
  padding: 10px;
}
@media screen and (max-width: 480px) {
  #header-section .about-us-section {
    padding: 20px;
  }
}
#header-section .about-us-section__image {
  width: 50%;
}
@media screen and (max-width: 480px) {
  #header-section .about-us-section__image {
    display: none;
  }
}
#header-section .about-us-section__text {
  width: 50%;
}
@media screen and (max-width: 480px) {
  #header-section .about-us-section__text {
    width: 100%;
  }
}
#header-section .about-us-section__text .header {
  font-size: 90px;
  color: white;
  text-align: left;
}
@media screen and (max-width: 480px) {
  #header-section .about-us-section__text .header {
    text-align: center;
  }
}
#header-section .about-us-section__text .describe {
  font-size: 17px;
  color: white;
  text-align: left;
}

@media screen and (min-width: 1200px) {
  #header-section .header-section {
    padding: 10px 120px 400px 120px;
  }
  #header-section .header-section .nav {
    position: absolute;
    top: 3%;
    right: 5%;
  }
  #header-section .header-section .nav li {
    padding-left: 20px;
    padding-right: 20px;
    text-transform: uppercase;
    border-top: 3px solid transparent;
    padding: 10px;
  }
  #header-section .header-section .nav li:hover {
    border-top: 3px solid orangered;
  }
  #header-section .header-section__container {
    display: flex;
    flex-flow: row wrap;
    justify-content: start;
  }
  #header-section .header-section__logo {
    font-size: 50px;
    font-family: "Pacifico", cursive;
  }
  #header-section .header-section__text .header {
    font-weight: bold;
    font-size: 60px;
    margin-top: 200px;
  }
  #header-section .header-section__text .describe {
    font-size: 17px;
    word-wrap: break-word;
    padding: 10px;
    width: 20%;
  }
  #header-section .header-section__scroll-image {
    position: absolute;
    left: 50%;
    top: 90%;
  }
  #header-section .header-section__button {
    text-transform: uppercase;
    background-color: #e66536;
    color: white;
    font-size: 20px;
    width: 100%;
    max-width: 200px;
    min-width: 44px;
    height: auto;
    max-height: 55px;
    min-height: 44px;
    display: inline-block;
    padding: 15px;
    text-align: center;
    box-shadow: 0px 3px 3px 0px gray;
    border: 0px;
    margin-top: 50px;
    margin: 10px;
  }
  #header-section .header-section__button:hover {
    transform: scale(1.1);
  }
  #header-section .header-section__button:active {
    transform: scale(1.2);
  }
  #header-section .about-us-section {
    background: #00bcbc;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-items: center;
    text-align: center;
  }
  #header-section .about-us-section__image {
    flex-basis: 45%;
  }
  #header-section .about-us-section__text {
    flex-basis: 45%;
    padding: 50px;
  }
}
* {
  box-sizing: border-box;
  padding: 0px;
  margin: 0px;
}

img {
  width: 100%;
  height: auto;
}

#our-services-section .our-services {
  background-color: #70bfff;
  width: 100%;
}
#our-services-section .our-services__body {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  margin: auto;
}
#our-services-section .our-services__list {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: space-between;
}
#our-services-section .our-services__item {
  background-color: #ffffff;
  color: #262626;
  font-family: Raleway;
  font-size: 20px;
  font-weight: 700;
  line-height: 60px;
  text-align: right;
  display: flex;
  margin: 10px;
  justify-content: space-between;
}
#our-services-section .our-services__item:hover {
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.5);
}
#our-services-section .our-services__text {
  flex-basis: 79%;
  text-align: center;
  padding: 20px 10px 10px 10px;
}
@media screen and (max-width: 480px) {
  #our-services-section .our-services__text {
    font-size: 18px;
  }
}
#our-services-section .our-services__icon {
  flex-basis: 20%;
  border-left: 1px solid #000;
  padding: 25px 20px 10px 20px;
}
#our-services-section__image {
  color: #ffffff;
  font-family: Raleway;
  font-size: 80px;
  font-weight: 700;
  text-align: center;
  margin: 10px;
  position: relative;
}
#our-services-section__image_white-text-in-box {
  z-index: 1;
  position: relative;
  top: -300px;
  word-wrap: break-word;
}
@media screen and (max-width: 480px) {
  #our-services-section__image_white-text-in-box {
    font-size: 70px;
  }
}
#our-services-section .fz-icon {
  font-size: 50px;
}

@media screen and (min-width: 1200px) {
  #our-services-section .our-services {
    background-color: #70bfff;
    width: 100%;
    height: 790px;
  }
  #our-services-section .our-services__body {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 1070px;
    height: 540px;
    margin: auto;
    padding: 170px 0px 150px 0px;
  }
  #our-services-section .our-services__list {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: space-between;
    width: 400px;
    height: 460px;
  }
  #our-services-section .our-services__item {
    width: 400px;
    height: 100px;
    background-color: #ffffff;
    color: #262626;
    font-family: Raleway;
    font-size: 20px;
    font-weight: 700;
    line-height: 27px;
    text-align: left;
    display: flex;
    justify-content: stretch;
    margin: 10px;
  }
  #our-services-section .our-services__item:hover {
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.5);
  }
  #our-services-section .our-services__text {
    flex-basis: 79%;
    text-align: center;
    padding: 20px 10px 15px 10px;
  }
  #our-services-section .our-services__icon {
    flex-basis: 20%;
    border-left: 1px solid #000;
    padding: 25px 20px 10px 20px;
  }
  #our-services-section .our-services__image {
    color: #ffffff;
    font-family: Raleway;
    font-size: 80px;
    font-weight: 700;
    line-height: 27px;
    text-align: center;
    margin: 10px;
    position: relative;
  }
  #our-services-section .our-services__image_white-text-in-box {
    z-index: 1;
    position: relative;
    top: -300px;
  }
  #our-services-section .our-services .fz-icon {
    font-size: 50px;
  }
}
* {
  box-sizing: border-box;
  padding: 0px;
  margin: 0px;
}

img {
  width: 100%;
  height: auto;
}

#blog-section {
  background-color: #b07cf7;
  font-family: "Open Sans", sans-serif;
}
#blog-section .main-article {
  text-align: center;
}
#blog-section .header {
  font-size: 90px;
  text-align: center;
}
#blog-section .header,
#blog-section p {
  color: white;
}
#blog-section .container {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-content: space-between;
  margin: 20px auto;
}
#blog-section .article1 {
  background-image: url("imge1.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  width: 370px;
  height: 310px;
  padding: 20px;
  margin: 10px;
}
#blog-section .article2 {
  background-image: url("img/imge2.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  width: 370px;
  height: 310px;
  padding: 20px;
  margin: 10px;
}
#blog-section .article3 {
  background-image: url("img/imge3.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  width: 370px;
  height: 310px;
  padding: 20px;
  margin: 10px;
}
#blog-section .blog-button {
  text-align: center;
  padding-bottom: 30px;
}
#blog-section button {
  background: #f72b3b;
  color: white;
  box-shadow: 2px solid gray;
  border: gray;
  font-size: 20px;
  width: 200px;
  height: 55px;
  text-transform: uppercase;
  position: relative;
}
#blog-section button:hover {
  transform: scale(1.1);
}
#blog-section button:active {
  transform: scale(1.2);
}
#blog-section .article-head {
  font-size: 20px;
  padding-top: 100px;
}
#blog-section .author {
  font-size: 13px;
  padding-top: 5px;
}
#blog-section .date {
  border: 0px solid #000000;
  border-radius: 10px 10px 10px 10px;
  padding: 5px;
  display: inline-block;
  background-image: url(../dist/images/blog/images/gradient.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  opacity: 0.6;
  font-size: 25px;
  text-transform: uppercase;
  text-align: center;
}

@media screen and (min-width: 1200px) {
  #blog-section .container {
    display: flex;
    flex-flow: row no-wrap;
    justify-content: center;
    align-content: space-between;
    margin: 20px auto;
  }
  #blog-section .article1 {
    background-image: url("img/imge1.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    width: 370px;
    height: 310px;
    padding: 20px;
    margin: 10px;
  }
  #blog-section .article2 {
    background-image: url("img/imge2.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    width: 370px;
    height: 310px;
    padding: 20px;
    margin: 10px;
  }
  #blog-section .article3 {
    background-image: url("img/imge3.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    width: 370px;
    height: 310px;
    padding: 20px;
    margin: 10px;
  }
}
* {
  box-sizing: border-box;
  padding: 0px;
  margin: 0px;
}

img {
  width: 100%;
  height: auto;
}

#gallery-section .gallery {
  background-color: #ffe92f;
  width: 100%;
  max-width: 1920px;
}
#gallery-section .gallery__head-text {
  color: #262626;
  font-family: Raleway;
  font-size: 90px;
  font-weight: 700;
  line-height: 27px;
  text-align: center;
  padding-top: 8%;
}
@media screen and (max-width: 480px) {
  #gallery-section .gallery__head-text {
    font-size: 70px;
  }
}
#gallery-section .gallery__desc-text {
  color: #262626;
  font-family: Raleway;
  font-size: 17px;
  font-weight: 300;
  line-height: 27px;
  text-align: center;
  width: 100%;
  max-width: 577px;
  margin: 100px auto;
}
@media screen and (max-width: 480px) {
  #gallery-section .gallery__desc-text {
    margin: 50px auto;
  }
}
#gallery-section .gallery__images {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  width: 100%;
  max-width: 1170px;
  height: auto;
  margin: 0px auto;
}
#gallery-section .gallery__item1 {
  max-width: 100%;
  height: auto;
  margin-bottom: 20px;
}
#gallery-section .gallery .item1-2-3-block {
  display: flex;
  flex-flow: row wrap;
  margin-bottom: 20px;
}
#gallery-section .gallery .item2-3-block {
  display: flex;
  flex-flow: column nowrap;
  width: 100%;
}
#gallery-section .gallery__item2 {
  height: auto;
  max-width: 100%;
  flex-grow: 1;
  margin-bottom: 20px;
}
#gallery-section .gallery__item3 {
  height: auto;
  max-width: 100%;
  flex-grow: 1;
}
#gallery-section .gallery__item4 {
  height: auto;
  max-width: 100%;
  margin-bottom: 20px;
}
#gallery-section .gallery__item5 {
  height: auto;
  max-width: 100%;
}
#gallery-section .gallery .item-4-5-block {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  width: 100%;
}
#gallery-section .view-more {
  text-align: center;
  padding: 5%;
}
#gallery-section .view-more__button {
  width: 200px;
  height: 55px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.5);
  background-color: #5585a2;
  color: #ffffff;
  font-family: Raleway;
  font-size: 20px;
  font-weight: 300;
  line-height: 27px;
  text-transform: uppercase;
  border: none;
}
#gallery-section .view-more__button:hover {
  transform: scale(1.1);
}
#gallery-section .view-more__button:active {
  transform: scale(1.2);
}

@media screen and (min-width: 1200px) {
  #gallery-section .gallery__item1 {
    flex-basis: 60%;
    margin-bottom: 0px;
  }
  #gallery-section .gallery .item1-2-3-block {
    display: flex;
    flex-flow: row nowrap;
    margin-bottom: 20px;
    width: 100%;
  }
  #gallery-section .gallery .item2-3-block {
    display: flex;
    flex-flow: column nowrap;
    margin-left: 20px;
    width: 100%;
  }
  #gallery-section .gallery__item2 {
    height: auto;
    max-width: 100%;
    flex-grow: 1;
    margin-bottom: 20px;
  }
  #gallery-section .gallery__item3 {
    height: auto;
    max-width: 100%;
    flex-grow: 1;
  }
  #gallery-section .gallery__item4 {
    height: auto;
    max-width: 100%;
    margin-bottom: 0px;
  }
  #gallery-section .gallery__item5 {
    height: auto;
    max-width: 100%;
    margin-left: 20px;
  }
  #gallery-section .gallery .item-4-5-block {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    width: 100%;
  }
}
* {
  box-sizing: border-box;
  padding: 0px;
  margin: 0px;
}

img {
  width: 100%;
  height: auto;
}

#subscribe-to-us .subscribe__body {
  width: 100%;
  max-width: 775px;
  position: relative;
}
#subscribe-to-us .subscribe__title {
  color: #262626;
  font-family: Raleway;
  font-size: 40px;
  font-weight: 700;
  line-height: 27px;
  padding: 10px;
  margin-top: 10px;
}
@media screen and (max-width: 480px) {
  #subscribe-to-us .subscribe__title {
    line-height: 1;
    font-size: 30px;
  }
}
#subscribe-to-us .subscribe__subtitle {
  color: #262626;
  font-family: Raleway;
  font-size: 17px;
  font-weight: 300;
  line-height: 27px;
  padding: 10px;
  word-wrap: break-word;
}
#subscribe-to-us .subscribe__submit-email {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  padding: 10px;
}
#subscribe-to-us .subscribe__email-form {
  max-width: 570px;
  width: 100%;
  height: 55px;
  border: 1px solid #262626;
  padding: 10px;
  margin-top: 10px;
}
#subscribe-to-us .subscribe__submit-button {
  width: 170px;
  height: 55px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.5);
  background-color: #96b92c;
  color: #ffffff;
  font-family: Raleway;
  font-size: 20px;
  font-weight: 300;
  line-height: 27px;
  text-transform: uppercase;
  border: none;
  margin-top: 10px;
}
#subscribe-to-us .subscribe__submit-button:hover {
  transform: scale(1.2);
}
#subscribe-to-us .subscribe__submit-button__image {
  position: absolute;
  top: 0%;
  left: 0%;
  z-index: -1;
}
#subscribe-to-us ::placeholder {
  opacity: 0.5;
  color: #262626;
  font-family: Raleway;
  font-size: 15px;
  font-weight: 300;
  line-height: 27px;
}

@media screen and (min-width: 1200px) {
  #subscribe-to-us .subscribe__body {
    margin-left: 50px;
  }
  #subscribe-to-us .subscribe__title {
    color: #262626;
    font-family: Raleway;
    font-size: 40px;
    font-weight: 700;
    line-height: 27px;
    padding: 10px;
    margin-top: 10px;
    margin-left: 50px;
  }
  #subscribe-to-us .subscribe__subtitle {
    color: #262626;
    font-family: Raleway;
    font-size: 17px;
    font-weight: 300;
    line-height: 27px;
    padding: 10px;
    margin-left: 50px;
  }
  #subscribe-to-us .subscribe__submit-email {
    width: 770px;
    height: 70px;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    padding: 10px;
    margin: 50px;
  }
  #subscribe-to-us .subscribe__email-form {
    border: 1px solid #262626;
    margin-top: 10px;
  }
  #subscribe-to-us .subscribe__submit-button {
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.5);
    background-color: #96b92c;
    color: #ffffff;
    font-family: Raleway;
    font-size: 20px;
    font-weight: 300;
    line-height: 27px;
    text-transform: uppercase;
    border: none;
    margin-top: 10px;
  }
  #subscribe-to-us .subscribe__submit-button:hover {
    transform: scale(1.2);
  }
  #subscribe-to-us .subscribe__image {
    width: 100%;
    max-width: 1500px;
    position: absolute;
    top: 20%;
    left: 40%;
    z-index: -1;
  }
  #subscribe-to-us ::placeholder {
    opacity: 0.5;
    color: #262626;
    font-family: Raleway;
    font-size: 15px;
    font-weight: 300;
    line-height: 27px;
  }
}
#contact-section .contact {
  background-image: url("img/imeg.png");
  background-repeat: no-repeat;
  background-size: cover;
}
#contact-section .contact__header {
  max-width: 350px;
  margin: 0px auto;
  text-align: center;
  padding-top: 100px;
  padding-bottom: 40px;
}
#contact-section .contact__title {
  color: #262626;
  font-size: 90px;
  font-weight: 700;
  font-family: "Raleway", sans-serif;
}
#contact-section .contact__subtitle {
  color: #262626;
  font-size: 17px;
  font-weight: 300;
  font-family: "Raleway", sans-serif;
}
#contact-section .contact__column {
  display: flex;
  justify-content: space-around;
  padding-bottom: 120px;
  padding-top: 40px;
  font-family: "Raleway", sans-serif;
  flex-wrap: wrap;
}
#contact-section .contact__forms {
  display: flex;
  flex-direction: column;
}
#contact-section .contact__item {
  max-width: 500px;
  width: 100%;
  height: 50px;
  background-color: rgba(0, 196, 196, 0.5);
  margin: 7px 0px;
  border: 0px solid transparent;
  border-left: 5px solid transparent;
  padding-left: 10px;
  color: #ffffff;
  font-size: 15px;
  font-weight: 300;
  line-height: 25px;
}
#contact-section .contact__item:hover {
  background-color: #00c4c4;
  border-left: 5px solid #355b82;
}
#contact-section .contact__item_bigger {
  width: 100%;
  max-width: 500px;
  height: 250px;
}
#contact-section .contact__contact-name {
  font-size: 17px;
  font-weight: 700;
}
#contact-section .contact__contact-information {
  font-weight: 300;
  margin-bottom: 10px;
}
#contact-section .footer-container {
  background-color: #262626;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  height: 90px;
  align-items: center;
}
#contact-section .footer-container__year-of-foundation {
  color: #b9b9b9;
  font-size: 16px;
  font-weight: 300;
  line-height: 25px;
  font-family: "Raleway", sans-serif;
}
@media screen and (max-width: 480px) {
  #contact-section .footer-container__year-of-foundation {
    font-size: 13px;
    margin-left: 5px;
    word-wrap: break-word;
    text-align: center;
  }
}
#contact-section .footer-container__company-name {
  color: #b9b9b9;
  font-size: 25px;
  font-weight: 400;
  line-height: 25px;
  font-family: "Pacifico", cursive;
}
@media screen and (max-width: 480px) {
  #contact-section .footer-container__company-name {
    display: none;
  }
}
#contact-section .footer-container__who-made {
  color: #b9b9b9;
  font-family: Raleway;
  font-size: 15px;
  font-weight: 300;
  line-height: 25px;
  font-family: "Raleway", sans-serif;
}
@media screen and (max-width: 480px) {
  #contact-section .footer-container__who-made {
    font-size: 13px;
  }
}
#contact-section .footer-container__who-made_red-text {
  color: #ff2b58;
  font-weight: 700;
  font-family: "Raleway", sans-serif;
}
#contact-section ::placeholder {
  color: #ffffff;
  font-size: 15px;
  font-weight: 300;
  line-height: 25px;
}
#contact-section textarea {
  resize: none;
}

@media screen and (min-width: 1200px) {
  #contact-section .contact {
    background-image: url(./img/imeg.png);
    background-repeat: no-repeat;
    background-size: cover;
  }
  #contact-section .contact__header {
    max-width: 350px;
    margin: 0px auto;
    text-align: center;
    padding-top: 100px;
    padding-bottom: 40px;
  }
  #contact-section .contact__title {
    color: #262626;
    font-size: 90px;
    font-weight: 700;
    font-family: "Raleway", sans-serif;
  }
  #contact-section .contact__subtitle {
    color: #262626;
    font-size: 17px;
    font-weight: 300;
    font-family: "Raleway", sans-serif;
  }
  #contact-section .contact__column {
    display: flex;
    justify-content: space-around;
    padding-bottom: 120px;
    padding-top: 40px;
    font-family: "Raleway", sans-serif;
    flex-wrap: wrap;
  }
  #contact-section .contact__forms {
    display: flex;
    flex-direction: column;
  }
  #contact-section .contact__item {
    width: 500px;
    height: 50px;
    background-color: rgba(0, 196, 196, 0.5);
    margin: 7px 0px;
    border: 0px solid transparent;
    border-left: 5px solid transparent;
    padding-left: 10px;
    color: #ffffff;
    font-size: 15px;
    font-weight: 300;
    line-height: 25px;
  }
  #contact-section .contact__item:hover {
    background-color: #00c4c4;
    border-left: 5px solid #355b82;
  }
  #contact-section .contact__item_bigger {
    width: 500px;
    height: 250px;
  }
  #contact-section .contact__contact-name {
    font-size: 17px;
    font-weight: 700;
  }
  #contact-section .contact__contact-information {
    font-weight: 300;
    margin-bottom: 10px;
  }
  #contact-section .footer-container {
    background-color: #262626;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    height: 90px;
    align-items: center;
  }
  #contact-section .footer-container__year-of-foundation {
    color: #b9b9b9;
    font-size: 16px;
    font-weight: 300;
    line-height: 25px;
    font-family: "Raleway", sans-serif;
  }
  #contact-section .footer-container__company-name {
    color: #b9b9b9;
    font-size: 25px;
    font-weight: 400;
    line-height: 25px;
    font-family: "Pacifico", cursive;
  }
  #contact-section .footer-container__who-made {
    color: #b9b9b9;
    font-family: Raleway;
    font-size: 15px;
    font-weight: 300;
    line-height: 25px;
    font-family: "Raleway", sans-serif;
  }
  #contact-section .footer-container__who-made_red-text {
    color: #ff2b58;
    font-weight: 700;
    font-family: "Raleway", sans-serif;
  }
  #contact-section ::placeholder {
    color: #ffffff;
    font-size: 15px;
    font-weight: 300;
    line-height: 25px;
  }
  #contact-section textarea {
    resize: none;
  }
}
@media screen and (max-width: 480px) {
  #contact-section .contact__title {
    font-size: 70px;
  }
}
/*# sourceMappingURL=style.css.map */
