body {
  padding: 0;
  margin: 0;
  line-height: 1;
  font-family: Arial, "sans-serif";
  box-sizing: border-box;
  background-color: rgb(255, 229, 195);
}

h1 {
  color: #4d050c;
}

.container {
  width: 70%;
  max-width: 700px;
  margin: 0 auto;
}

.title {
  font-weight: normal;
  text-align: center;
  padding: 15px;
}

#beetroot_img {
  width: 45%;
  height: 300px;
  margin: 0 auto;
  display: block;
}

.basic_info p {
  float: left;
  width: 50%;
  border: 1px solid grey;
  box-sizing: border-box;
  text-transform: lowercase;
  padding: 20px;
  text-align: center;
  color: grey;
  background: rgb(238, 174, 202);
  background: radial-gradient(
    circle,
    rgba(238, 174, 202, 1) 0%,
    rgba(148, 187, 233, 1) 100%
  );
}
.basic_info {
  width: 30%;
  height: 100px;
  margin: 0 auto;
}

.basic_info p a {
  /*color: inherit;*/
  font-size: 22px;
  text-decoration: none;
}

.basic_info p::first-letter {
  text-transform: uppercase;
}

.basic_info p:hover {
  color: white;
  background: rgb(238, 174, 202);
  background: radial-gradient(
    circle,
    rgba(238, 174, 202, 1) 0%,
    rgba(210, 35, 13, 1) 100%
  );
}

.basic_info p:hover a {
  color: white;
}

.list_item a {
  font-size: 26px;
  text-decoration: none;
}
.lesson_list {
  line-height: 40px;
}
.list_item a:hover {
  color: #6e6511e1;
  text-decoration: underline;
}
ul {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-around;
}
li {
  list-style-type: none;
  padding: 10px;
  text-align: center;
  border: 2px solid rgb(175, 60, 6);
}
.lesson {
  margin: auto;
  width: 1200px;
  height: 300px;
}
li:nth-child(even) {
  background-color: #fff5e6;
}
li:nth-child(odd) {
  background-color: #ffebcc;
}
a {
  color: #4d050c;
  text-decoration: none;
}
