* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header {
  margin: 14px;
}
.title {
  margin-top: 30px;
  margin-bottom: 30px;
  background-color: darkred;
  padding: 4px;
}

h1 {
  color: white;
  text-align: center;
}

.m_image img {
  display: block;
  margin: 0 auto;
  width: 97%;
}
.text {
  padding: 22px;
  margin-top: 20px;
  text-align: left;
}
.text_content {
  word-spacing: 2px;
  font-size: 18px;
}
.firstImage {
  width: 100%;
}
.copyright {
  background-color: black;
}

.copyright h3 {
  color: white;
  text-align: center;
}
.nono {
  list-style-type: none;
  text-align: center;
}

ol li {
  display: inline;
}

li img {
  border-style: dotted;
}

.italic {
  font-style: italic;
}

.bold {
  font-weight: bold;
}
footer {
  margin-top: 30px;
  margin-bottom: 30px;
}
.second_text {
  padding: 22px;
  margin-top: 10px;
  text-align: left;
}
