* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: #9a0909;
}

header {
  text-align: center;
}

header img {
  width: 500px;
}

figure {
  float: left;
  padding: 20px 30px 10px 30px;
}

figcaption {
  color: white;
  text-align: center;
}

.main_div {
  max-width: 100%;
  background-color: black;
  height: 240px;
  display: flex;
  justify-content: space-between;
  margin: 15px 10px 5px 10px;
}
.first_sect {
  background-color: #7d0909;
  text-decoration: underline;
  color: #e54a0d;
  line-height: 2;
  height: 400px;
  width: 300px;
  margin-left: 10px;
}
a {
  color: rgb(221, 88, 17);
  font-size: 18px;
}
.first_sect li {
  padding: 0px 10px 15px 0px;
}
ol {
  list-style-type: none;
}
.second_sect {
  height: 400px;
  width: 990px;
  color: #e3dddd;
  margin-top: 20px;
  font-size: 20px;
}
.three_sect {
  height: 400px;
  width: 200px;

  text-align: left;
  border: 1px solid #e3dddd;
  background-color: #e3dddd;
  font-size: 18px;
  font-family: "Times New Roman", Times, serif;

  margin-bottom: 20px;
  line-height: 1.8;
}
.three_sect p {
  margin-bottom: 15px;
}
main {
  display: flex;
  justify-content: space-between;
}
h1 {
  text-align: center;
}
.footer {
  text-align: center;
  background-color: #e95b11;
  color: white;
  font-size: 20px;
  margin-bottom: 30px;
}
hr {
  width: 50%;
  margin: 0 auto;
}
